# =========================================
# SECURITY - DO NOT UPLOAD SENSITIVE FILES
# =========================================
scripts/config/auth.ps1

# =========================================
# LOGS
# =========================================
logs/
logs/*.csv

# =========================================
# VS CODE
# =========================================
.vscode/

# =========================================
# TEMP FILES
# =========================================
*.tmp
*.log